.home {

    // background-color: skyblue;
    background-color: skyblue;

    display: flex;

    .homecontainer {
        flex: 9;

        .widgets,.charts {
            display: flex;
            padding-left: 20px;
            gap: 20px;
        }

        
            .charts {
                
                padding: 15px 20px;
               
            }
            .listContainer {
            
                 box-shadow: 0px 2px 10px -4px rgb(63, 60, 60);
                 padding: 10px;
                 color: gray;
                 margin-left: 20px;
                 margin-right: 20px;

                 .listTitle {
                     font-weight: 500;
                     padding-left: 10px;
                    
                 }
            }
        }
    
}

