.navbar {


    height: 50px;
    border-bottom: 0.5px solid lightgray;
    background-color:lightseagreen;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    display: flex;

   

    .wrapper {

        display: flex;
        align-items: center;
        padding-left: 20px;
        justify-content: space-between;
        width: 100%;

        
       
        .items  {
            display: flex;

            .item{

                display: flex;
                margin-right: 20px;
                align-items: center;
                position: relative;
                

                .icon {

                    font-size: 20px;
                }

                .center {

                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position:absolute;
                    font-size: 10px;
                    font-weight: bold;
                    top: -5px;
                    right: -5px;


                }
            }

            .avatar {

                height: 30px;
                width: 30px;
                border-radius: 50%;
            }
        }

        .search {

            display: flex;
            border: 0.5px solid lightgray;
            align-items: center;
            padding: 3px;

            input {
    
                border: none;
                outline: none;
                background:transparent;
                 
                &::placeholder{
                    font-size: 12px;
                }

            }
        }
    }
}