
.sidebar {


    background-color: orchid;
    flex: 1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    .top {

        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: coral;



        .logo {

            font-size: 20px;
            font-weight: bold;
            color:red
        }
    }

    hr {
        height: 0;
        border: 0.5px solid lightgray;
    }

    .center {
        padding-left: 10px;
        background-color: white;

        ul {

            list-style: none;
            padding: 0;
            margin: 0;

            .title {

                font-size: 10px;
                font-weight: bold;
                color: black;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {

                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;


                &:hover {

                    background-color: #ece8ff;
                }

                .icon {

                   
                    font-size: 18px;
                    color:darkviolet;
                }

                span {

                    
                    font-size: 13px;
                    font-weight: 600;
                    color: gray
        
            }


        }

    }
}

    .bottom {

        display: flex;
        align-items: center;
        margin: 10px;

        .colourOption {

            height: 20px;
            width: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: #7451f8;
            }
            &:nth-child(2){
                background-color:khaki
            }
            &:nth-child(3){
                background-color:darkblue
            }

        }



    }
}