.list {

    margin-top: 10px;

    .table {

        .cellWrapper {

            display: flex;
          
            align-items: center;
        

            .image {

                border-radius: 50%;
                object-fit: cover;
                width: 28px;
                height: 28px;
                margin-right: 10px;
            }

           

        }

        .status {

            padding: 5px;
            border-radius: 5px;
            font-weight: 900;

            &.Approved {

                color: green;
                background-color: lightgreen
            }
            &.Open {

                color: red;
                background-color: lightblue
            }
            &.Submitted {

                color: red;
                background-color: lightpink
            }
            &.Pending {

                color: pink;
                background-color: lightyellow
            }
        }
    }
}